.section {
    position: relative;

}

.films {
    display: flex;
    padding-left: 20px;
}


.goBackBtn {
    color: rgb(62, 63, 63);
    margin: 20px 10px 0 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 400;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.goBackBtn:hover {
    background-color: #e0e0e0;
    color: rgb(226, 12, 144);
}

.backDiv {
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
}

.link {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 12px;

}



.nav {
    display: flex;
    gap: 15px;
}


.NavLink {
    margin-bottom: 20px;
    gap: 10px;
}

.NavLink:hover {
    color: rgb(226, 12, 144);
}

h2,
h3 {
    color: rgb(62, 63, 63);
}

p {
    color: rgb(47, 48, 48);
}

.NavLink {
    color: rgb(6, 126, 126);
    font-size: 20px;
    font-weight: 600;

}