.section {
    position: relative;
}

.films {
    display: flex;
    padding-left: 20px;
}


.goBackBtn {

    margin-bottom: 0;
    padding: 10px 20px;
    font-size: 16px;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.goBackBtn:hover {
    background-color: #e0e0e0;
}

.link {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 12px;
}

.backDiv {}

.nav {
    display: flex;
    gap: 15px;
}



.NavLink {
    gap: 10px;
}